mixin product( {data:data} )
  each item in data
    .product__image
      img(src=item.urlImage , alt="product image")
      .product__info
        div.icon
          i.fa-solid.fa-heart
          | Yêu thích
        div.icon
          i.fas.fa-signal.mr-1
          | So sánh
        div.icon
          i.fa-solid.fa-down-left-and-up-right-to-center
      .product__tag
        img(src="/assets/images/tag1.png", alt="tag")
      .product__content
        h3.product__title= item.title
        p.main-price.my-3= item.discount
          sup Đ
          del.product__cost= item.cost
            sup Đ
        .button add to cart
        p.product__description= item.description